.contact-info
{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.9);
    top: 75px;
    bottom: 75px;
    padding: 7px;
    font-size: 18px;
    text-align: center;
    height: 270px;
    align-items: center;
    z-index: 100;
    color: white;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}

.email
{
    color: rgba(0, 255, 247, 0.881);
    text-decoration: none;
}

.email:hover
{
    color: rgb(0, 166, 255);
    transition: .7s;
}

.email:active
{

    transition: .0s;
    color: rgb(22, 5, 49);
}

hr 
{
    
        border: solid rgba(10, 208, 226, 0.708);
        border-radius: 5px;
}

.contact-icon-div
{
    display: inline;
}

.contact-icon
{
    height: 40px;
    padding: 0px;
    margin: 0;
    border-radius: 50%;
    width: min-content;
}

.contact-icon:hover
{
    height: 42px;
    transition: .3s;
    cursor: pointer;
    padding: 0;
}

.contact-icon:active
{
    height: 38px;
}
