

h1
{
    position: relative;
}
 .background-image
{
  background-color: blue;
  position: fixed;
  padding: auto;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.wallpaper
{
    
}

